<%= f.email_field :email,
  class: 'nes-input',
  placeholder: t('email'),
  autofocus: true,
  autocomplete: "email"
%>

<%= f.password_field :password,
  class: 'nes-input',
  placeholder: t('password'),
  autocomplete: "new-password"
%>

<% if devise_mapping.rememberable? %>
  <div class="nes-field">
    <span><%= t('remember_me') %></span>

    <%= label_tag do %>
      <input class="nes-radio" type="radio" name="remember" value="1" checked>
      <span><%= t('yes') %></span>
    <% end %>

    <%= label_tag do %>
      <input class="nes-radio" type="radio" name="remember" value="0">
      <span><%= t('no') %></span>
    <% end %>
  </div>
<% end %>

<%= f.button t('login'), class: 'nes-btn is-primary' %>
