<body class="body--password-edit"></body>

<div class="user__form">
  <div class="nes-container is-rounded">
    <h1 class="title"><%= t('change_password') %></h1>
    <%= form_with(url: password_reset_path(@token), method: :put) do |f| %>

      <%= render 'shared/error_messages', object: @user %>

      <%= hidden_field_tag :email, @user.email %>

      <div class="user__form-field nes-field">
        <%= f.password_field :password, class: 'user__form-input nes-input', placeholder: t('password') %>
      </div>

      <div class="user__form-field nes-field">
        <%= f.password_field :password_confirmation, class: 'user__form-input nes-input', placeholder: t('password_confirmation') %>
      </div>

      <div class="user__form-field">
        <%= f.submit t('reset_password'), class: 'nes-btn is-primary' %>
      </div>
    <% end %>
  </div>
</div>

