<div id="comment-<%= comment.id %>" class="text-sm pt-4">
  <div class="nes-container with-title">
    <h1 class="title"><%= comment_counter + 1 %></h1>

    <%= link_to "#{t('author')}: #{comment.user.email}", user_profile_path(comment.user) %>

    <div id="comment-content">
      <%= simple_format(comment.content,  class: 'truncate') %>
    </div>

    <% comment.display_images.each do |image| %>
      <%= image_tag image.processed, alt: 'comment images' %>
    <% end %>

    <ul class="nes-list is-circle">
      <%= content_tag :li, "#{t('created_at')}: #{l(comment.created_at)}" %>
      <%= content_tag :li, "#{t('updated_at')}: #{l(comment.updated_at)}", id: 'comment-updated_at' %>
    </ul>

    <% if current_user&.id == comment.user_id %>
      <!-- comment toggle btn -->
      <div class="inline-block">
        <button id="edit_comment_btn" class="nes-btn is-warning"><%= t('edit_comment') %></button>
        <%= link_to t('delete_comment'),
          comment_path(comment),
          class: 'nes-btn is-error',
          remote: true,
          method: :delete,
          data: { confirm: t('are_you_sure') }
        %>
      </div>

      <!-- edit comment form -->
      <div id="edit_comment_form" class="nes-container with-title is-centered hidden mt-4 table">
        <h1 class="title"><%= t('edit_comment') %></h1>
        <%= form_with(model: comment, class: 'form-elem-mt-4', method: :patch, local: false) do |f| %>
          <%= render 'comments/form', f: f, object: comment %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
