<% if controller_name == 'microposts' %>
  <%= f.hidden_field(:micropost_id, value: params[:id]) %>
<% elsif controller_name == 'comments' %>
  <%= f.hidden_field(:micropost_id, value: @comment.micropost_id) %>
<% end %>

<%= f.text_area :content,
  class: 'nes-textarea',
  placeholder: t('content'),
  autocomplete: 'content',
  required: true
%>

<div class="block">
  <label class="nes-btn">
    <span><%= t('select_file') %></span>
    <%= f.file_field :images,
      id: 'comment_file_field',
      accept: 'image/jpeg,image/png,image/gif',
      multiple: true
    %>
  </label>
  <span id="file_size_params" class="ml-2">0KB/5MB</span>
</div>

<% if f.options[:method] == :post %>
  <%= f.button t('post'),
    class: 'nes-btn is-primary',
    data: { disable_with: t('sending') }
  %>
<% elsif f.options[:method] == :patch %>
  <%= f.button t('edit'),
    class: 'nes-btn is-warning',
    data: { disable_with: t('sending') }
  %>
<% end %>
