<% provide(:title, t('.title')) %>

<div class="w-full p-4 bg-gray-200 space-y-4">
  <div class="bg-white rounded p-4 divide-y">
    <div class="py-2">
      <%= content_tag(:h1, @micropost.title, class: 'text-2xl font-bold text-left break-words') %>
      <div class="text-xs">
        <%= content_tag(:span, "#{t('.contributor')}: ") %>
        <%= link_to(@micropost.user.name, user_path(@micropost.user), class: 'truncate text-sky-500 hover:text-violet-500') %>
      </div>
      <div class="block md:flex md:flex-row md:items-center text-xs md:space-x-2">
        <div class="text-xs">
          <%= content_tag(:span, "#{t('.created_at')}: ") %>
          <%= content_tag(:div, @micropost.created_at, class: 'truncate inline text-gray-400') %>
        </div>
        <div class="text-xs">
          <%= content_tag(:span, "#{t('.updated_at')}: ") %>
          <%= content_tag(:div, @micropost.updated_at, class: 'truncate inline text-gray-400') %>
        </div>
      </div>
    </div>
    <div class="py-2">
      <%= @micropost.content %>
    </div>
  </div>

  <%= render 'comments/page' %>

  <% if current_user?(@micropost.user) %>
    <div class="flex flex-col bg-gray-800 rounded p-4">
      <%= link_to(t('.edit_micropost'), edit_micropost_path(@micropost), class: 'text-sky-500 hover:text-violet-500') %>
      <%= link_to(t('.delete_micropost'), @micropost, { class: 'text-sky-500 hover:text-rose-500', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } }) %>
    </div>
  <% end %>
</div>
