<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="nes-list is-disc">
        <% user.errors.each do |error| %>
          <li class="nes-text is-error"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user__form-field nes-field">
    <%= form.text_field :email, class: 'user__form-input nes-input', placeholder: 'Email' %>
  </div>

  <div class="user__form-field nes-field">
    <%= form.password_field :password, class: 'user__form-input nes-input', placeholder: 'Password' %>
  </div>

  <div class="user__form-field nes-field">
    <%= form.password_field :password_confirmation, class: 'user__form-input nes-input', placeholder: 'Password Again' %>
  </div>

  <div class="user__form-field">
    <%= form.submit class: 'nes-btn is-primary' %>
  </div>
<% end %>
