<%= form_with(model: user) do |form| %>

  <%= render 'shared/error_messages', object: user %>

  <div class="user__form-field nes-field">
    <%= form.text_field :email, class: 'user__form-input nes-input', placeholder: 'Email' %>
  </div>

  <div class="user__form-field nes-field">
    <%= form.password_field :password, class: 'user__form-input nes-input', placeholder: 'Password' %>
  </div>

  <div class="user__form-field nes-field">
    <%= form.password_field :password_confirmation, class: 'user__form-input nes-input', placeholder: 'Password Again' %>
  </div>

  <div class="user__form-field">
    <%= form.submit class: 'nes-btn is-primary' %>
  </div>
<% end %>
