<div class="w-full p-4">
  <div class="p-4 border border-gray-200 rounded">
    <div class="flex items-center space-x-2">
      <%= user_index_avatar(user) %>
      <div class="text-xs truncate">
        <%= user_index_field(user, :name) %>
        <%= user_index_field(user, :email) %>

        <%= user_index_field(user, :activated) %>
        <%= user_index_field(user, :activated_at) %>

        <%= user_index_field(user, :password_digest) %>
        <%= user_index_field(user, :activation_digest) %>
        <%= user_index_field(user, :reset_digest) %>

        <%= user_index_field(user, :activation_sent_at) %>
        <%= user_index_field(user, :reset_sent_at) %>

        <%= user_index_field(user, :created_at) %>
        <%= user_index_field(user, :updated_at) %>

        <%= user_index_control_tag(user, class: 'block') %>
      </div>
    </div>
  </div>
</div>
