<h1 class="users__index-headline">Users</h1>

<div class="users__table">
  <table class="nes-table is-bordered is-centered">
    <thead>
      <tr>
        <th>Email</th>
        <th>Activation state</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Controls</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.activation_state %></td>
          <td><%= user.created_at.to_s %></td>
          <td><%= user.updated_at.to_s %></td>
          <td>
            <ul class="nes-list is-disc">
              <li><%= link_to 'Show', user %></li>
              <li><%= link_to "Destroy", user, data: { confirm: "Are you sure?" }, method: :delete %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

