<h1 class="users__index-headline"><%= t('users') %></h1>

<div class="users__table">
  <table class="nes-table is-bordered is-centered">
    <thead>
      <tr>
        <th><%= t('user.email') %></th>
        <th><%= t('user.activation') %></th>
        <th><%= t('user.created_at') %></th>
        <th><%= t('user.updated_at') %></th>
        <th><%= t('control') %></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.activation_state %></td>
          <td><%= user.created_at.to_s %></td>
          <td><%= user.updated_at.to_s %></td>
          <td>
            <ul class="nes-list is-disc">
              <li><%= link_to t('user_page'), user %></li>
              <li><%= link_to t('delete_user'), user, data: { confirm: "Are you sure?" }, method: :delete %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

