<% provide(:title, 'User Page') %>

<h1>User Page</h1>

<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.password_digest %></p>
<p><%= @user.created_at %></p>
<p><%= @user.updated_at %></p>

<%= render 'links' %>
