<body class="body--user"></body>

<div class="py-4 px-2 text-sm">
  <div class="root-container nes-container is-rounded">
    <div class="block sm:flex">
      <!-- side bar -->
      <aside class="pr-0 mr-0 border-b border-solid mb-4 sm:w-1/4 sm:flex-initial sm:border-b-0 sm:border-r sm:pr-4 sm:mb-0 sm:mr-4">
        <ul class="nes-list is-circle">
          <li class="break-words">list </li>
          <li class="break-words">list 1</li>
          <li class="break-words">list 1</li>
          <li class="break-words">list 1</li>
          <li class="break-words">list 1</li>
        </ul>
      </aside>

      <!-- main content -->
      <div class="sm:px-4 lg:flex">
        <div class="lg:mr-4">
          <div class="nes-container with-title">
            <h2 class="title text-lg">User</h2>
            <ul class="nes-list is-disc">
              <li><%= content_tag(:p, "#{t('email')}: #{current_user.email}") %></li>
              <li><%= content_tag(:p, "#{t('sign_in_count')}: #{current_user.sign_in_count}") %></li>
              <li><%= content_tag(:p, "#{t('created_at')}: #{l(current_user.created_at)}") %></li>
              <li><%= content_tag(:p, "#{t('updated_at')}: #{l(current_user.updated_at)}") %></li>
              <li><%= link_to t('edit_user'), user_settings_path %></li>
            </ul>
          </div>

          <div class="nes-container with-title mt-4">
            <h2 class="title">Micropost</h2>
            <ul class="nes-list is-disc">
              <li><%= link_to t('look_microposts'), microposts_path %></li>
              <li><%= link_to t('micropost_write'), new_micropost_path %></li>
            </ul>
          </div>
        </div>

        <!-- right sidebar -->
        <aside class="mt-4 lg:mt-0">
          <% if current_user.microposts.any? %>
            <%= link_to t('my_microposts'), user_microposts_path(current_user), class: 'block text-center text-lg' %>
            <% current_user.microposts[0..3].each do |micropost| %>
              <div class="nes-container with-title is-centered mt-4 sm:max-w-xs">
                <%= content_tag(:h1, micropost.title, class: 'title') %>
                <%= content_tag(:p, micropost.content, class: 'is-disabled truncate') %>
                <%= content_tag(:p, "#{t('created_at')}: #{l(micropost.created_at)}") %>
                <%= content_tag(:p, "#{t('updated_at')}: #{l(micropost.updated_at)}") %>

                <div class="pt-2 mt-2 border-t border-solid">
                  <%= link_to t('look'), micropost_path(micropost) %>
                  <span>|</span>
                  <%= link_to t('edit'), edit_micropost_path(micropost) %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="nes-container">
              <h1><%= t('micropost_write') %></h1>
            </div>
          <% end %>
        </aside>
      </div>
    </div>
  </div>
</div>
