<body class="body--user"></body>

<div class="root-wrap">
  <div class="root-container nes-container is-rounded">
    <div class="root">
      <!-- side bar -->
      <aside class="root__sidebar">
        <ul class="nes-list is-circle">
          <li>list 1</li>
          <li>list 1</li>
          <li>list 1</li>
          <li>list 1</li>
          <li>list 1</li>
        </ul>
      </aside>

      <!-- main content -->
      <div class="root__main">
        <div class="root__main__page">
          <div class="root__main__page-user">
            <h2>User</h2>
            <ul class="nes-list is-disc">
              <li><%= content_tag(:p, "#{t('email')}: #{current_user.email}") %></li>
              <li><%= content_tag(:p, "#{t('sign_in_count')}: #{current_user.sign_in_count}") %></li>
              <li><%= content_tag(:p, "#{t('created_at')}: #{l(current_user.created_at)}") %></li>
              <li><%= content_tag(:p, "#{t('updated_at')}: #{l(current_user.updated_at)}") %></li>
            </ul>
          </div>

          <div class="root__main__page-micropost">
            <h2>Micropost</h2>
            <ul class="nes-list is-disc">
              <li><%= link_to t('micropost_write'), new_micropost_path %></li>
            </ul>
          </div>
        </div>

        <!-- right sidebar -->
        <aside class="root__main__sidebar">
          <% if current_user.microposts.any? %>
            <%= link_to t('micropost_list'), user_microposts_path(current_user), class: 'root__main__sidebar-title' %>
            <% current_user.microposts[0..3].each do |micropost| %>
              <div class="nes-container with-title is-centered">
                <%= content_tag(:h1, micropost.title, class: 'title') %>
                <%= content_tag(:p, micropost.content, class: 'content') %>
                <%= content_tag(:p, "#{t('created_at')}: #{l(micropost.created_at)}", class: 'date') %>
                <%= content_tag(:p, "#{t('updated_at')}: #{l(micropost.updated_at)}", class: 'date') %>
                <br />
                <div class="root__main__sidebar-links">
                  <%= link_to t('look'), micropost_path(micropost) %>
                  <%= link_to t('edit'), edit_micropost_path(micropost) %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="nes-container">
              <h1><%= t('micropost_write') %></h1>
            </div>
          <% end %>
        </aside>
      </div>
    </div>
  </div>
</div>
