<body class="body--password"></body>

<div class="form">
  <!-- form -->
  <div class="nes-container is-rounded">
    <h1 class="title"><%= t('change_password') %></h1>
    <%= form_with(scope: resource_name, url: password_path(resource_name), method: :post) do |f| %>
      <%= render "shared/error_messages", object: resource %>

      <%= render 'form', f: f %>
    <% end %>
  </div>
  <!-- links -->
  <%= render "shared/devise_links" %>
</div>

