<body class="body--confirmation"></body>

<div class="text-center">
  <div class="inline-block text-left py-4 px-2">
    <div class="nes-container is-rounded">
      <h1 class="text-xl pt-4"><%= t('activate_user') %></h1>

      <%= form_with(scope: resource, url: user_confirmation_path, class: 'user-form', method: :post) do |f| %>
        <%= render 'shared/error_messages', object: resource %>

        <%= render 'form', f: f %>
      <% end %>
    </div>

    <!-- links -->
    <%= render "shared/devise_links" %>
  </div>
</div>
