<%= f.text_field :title,
  class: 'nes-input',
  placeholder: t('title'),
  autofocus: true,
  autocomplete: 'title'
%>

<%= f.text_area :content,
  class: 'nes-textarea h-48',
  placeholder: t('content'),
  autocomplete: 'content'
%>

<label class="nes-btn">
  <span><%= t('select_file') %></span>
  <%= f.file_field :images,
    accept: 'image/jpeg,image/png,image/gif',
    multiple: true
  %>
</label>

<% if action_name.match?(/new|create/) %>
  <%= f.button t('post'), class: 'nes-btn is-primary' %>
<% elsif action_name.match?(/edit|update/) %>
  <%= f.button t('edit'), class: 'nes-btn is-warning' %>
<% end %>

<% if action_name.match?(/edit|update/) %>
  <%= content_tag(:h2, t('micropost_delete'), class: 'text-lg pt-4 border-t border-solid mt-4') %>
  <%= link_to t('delete'),
    micropost_path(@micropost),
    class: 'nes-btn is-error',
    method: :delete,
    data: { confirm: t('are_you_sure') }
  %>
<% end %>
