<% if action_name == 'new' || action_name == 'create' %>
  <%= form_with model: @micropost, method: :post do |f| %>
    <div class="space-y-4">
      <%= render 'shared/form_errors', object: f.object %>
      <%= micropost_form_field(f, :title,   t('.title')) %>
      <%= micropost_form_field(f, :content, t('.content'), class: 'h-64') %>
      <%= micropost_form_field(f, :images,  t('.images')) %>
      <%= micropost_form_submit(f, t('.create_micropost')) %>
    </div>
  <% end %>
<% elsif action_name == 'edit' || action_name == 'update' %>
  <%= form_with model: @micropost, method: :patch do |f| %>
    <div class="space-y-4">
      <%= render 'shared/form_errors', object: f.object %>
      <%= micropost_form_field(f, :title,   t('.title')) %>
      <%= micropost_form_field(f, :content, t('.content'), class: 'h-64') %>
      <%= micropost_form_field(f, :images,  t('.images')) %>
      <%= micropost_form_submit(f, t('.update_micropost')) %>
    <div>
  <% end %>
<% end %>
