<div class="block p-2">
  <div class="nes-container with-title">
    <%= link_to micropost.id, micropost_path(micropost), class: 'title' %>

    <%= content_tag(:h2, micropost.title, class: 'truncate font-bold') %>

    <%= link_to "#{t('author')}: #{micropost.user.email}",
      user_profile_path(micropost.user),
      class: 'block truncate'
    %>

    <%= content_tag(:p, micropost.content, class: 'truncate is-disabled') %>

    <ul class="nes-list is-circle text-xs">
      <%= content_tag :li, "#{t('created_at')}: #{l(micropost.created_at)}" %>
      <%= content_tag :li, "#{t('updated_at')}: #{l(micropost.updated_at)}" %>
    </ul>

    <%= link_to t('look'),
      micropost_path(micropost),
      class: 'micropost__post-link nes-btn is-success'
    %>

    <% if current_user&.id == micropost.user_id %>
      <%= link_to t('edit'), edit_micropost_path(micropost), class: 'nes-btn is-warning' %>
      <%= link_to t('delete'),
        micropost_path(micropost),
        class: 'nes-btn is-error',
        method: :delete,
        data: { confirm: t('are_you_sure') }
      %>
    <% end %>
  </div>
</div>
