<%= form_with model: @micropost, method: :post do |f| %>
  <div class="space-y-4">
    <%= render 'shared/form_errors', object: f.object %>
    <%= micropost_form_field(f, :title,   t('.title')) %>
    <%= micropost_form_field(f, :content, t('.content'), class: 'h-64') %>
    <%= micropost_form_field(f, :images,  t('.images'), { multiple: true, include_hidden: false }) %>
    <%= micropost_form_submit(f, t('.create_micropost')) %>
  </div>
<% end %>
