<body class="body--micropost"></body>

<div class="form">
  <!-- form -->
  <div class="nes-container is-rounded">
    <%= content_tag(:h1, t('micropost_edit')) %>
    <%= form_with(model: @micropost, method: :put) do |f| %>
      <%= render 'shared/error_messages', object: @micropost %>

      <%= render 'form', f: f %>
    <% end %>
  </div>

  <!-- links -->
  <%= render 'links' %>
</div>
