<body class="body--micropost"></body>

<div class="p-4">
  <%= content_tag(:h1, t('micropost_edit'), class: 'text-center text-lg') %>
  <div class="block pt-4 sm:flex">
    <!-- edit micropost toggle btn -->
    <div class="text-center block sm:hidden">
      <button id="edit_micropost-btn" class="nes-btn is-warning" style="margin: 0;" disabled><%= t('edit') %></button>
      <button id="preview_micropost-btn" class="nes-btn is-primary" style="margin: 0;"><%= t('preview') %></button>
    </div>

    <!-- micropost edit -->
    <div id="edit_micropost" class="block sm:flex-1 sm:px-2">
      <div class="nes-container with-title is-rounded">
        <%= content_tag(:h1, t('edit'), class: 'title') %>
        <%= form_with(model: @micropost, id: 'edit_micropost-form', class: 'form-elem-mt-4', method: :put) do |f| %>
          <%= render 'shared/error_messages', object: @micropost %>

          <%= render 'form', f: f %>
        <% end %>
      </div>

      <%= render 'links' %>
    </div>

    <!-- preview -->
    <%= render 'microposts/preview' %>
  </div>
</div>
