<body class="body--micropost"></body>

<div class="p-4 text-base">
  <div class="text-xs py-2">
    <div class="nes-container with-title block max-w-sm">
      <h1 class="title"><%= t('info') %></h1>
      <ul class="nes-list is-disc">
        <li>
          <%= link_to @micropost.user.email + 'x' * 99,
            user_profile_path(@micropost.user),
            class: 'block truncate'
          %>
        </li>
        <%= content_tag(:li, "#{t('created_at')}: #{l(@micropost.created_at)}") %>
        <%= content_tag(:li, "#{t('updated_at')}: #{l(@micropost.updated_at)}") %>
      </ul>
    </div>
  </div>

  <div class="text-lg py-2">
    <div class="nes-container with-title">
      <h1 class="title"><%= t('title') %></h1>
      <h1 class="text-lg font-bold break-words"><%= @micropost.title %></h1>
    </div>
  </div>

  <div class="text-base py-2">
    <div class="nes-container with-title">
      <h1 class="title"><%= t('content') %></h1>
      <%= simple_format(@micropost.content, class: 'break-words') %>
    </div>
    <%= render 'links' %>
  </div>

  <div class="text-sm py-2">
    <h1 class="text-center text-xl font-bold"><%= t('comments') %></h1>
    <%= render 'comments/comments' %> 
  </div>
</div>
