<body class="body--micropost"></body>

<div class="micropost__show-wrap">
  <div class="micropost__show">
    <div class="nes-container is-rounded">
      <div class="micropost__show-info">
        <%= content_tag(:p, "#{t('author')}: #{@micropost.user.email}") %>
        <%= content_tag(:p, "#{t('created_at')}: #{l(@micropost.created_at)}") %>
        <%= content_tag(:p, "#{t('updated_at')}: #{l(@micropost.updated_at)}") %>
      </div>

      <div class="micropost__show-title">
        <%= content_tag(:h1, @micropost.title) %>
     </div>

      <div class="micropost__show-content">
        <%= simple_format(@micropost.content) %>
      </div>
    </div>
    <!-- links -->
    <%= render 'links' %>

    <!-- comment -->
    <%= render 'comments/comments' %> 
  </div>
</div>
