<body class="body--activate"></body>

<div class="user__form">
  <!-- form -->
  <div class="nes-container is-rounded">
    <h1 class="title"><%= t('activate_user') %></h1>
    <%= form_with(url: user_activations_path) do |f| %>
      <%= render 'form', object: f %>

      <div class="user__form-field">
        <%= f.submit t('activate'), class: 'nes-btn is-primary' %>
      </div>
    <% end %>
  </div>

  <!-- links -->
  <div class="user__form-links">
    <ul class="nes-list is-circle">
      <li><%= link_to t('login_user'), new_user_session_path %></li>
    </ul>
  </div>
</div>
