<%= form_with url: new_user_session_path, method: :post do |f| %>
  <div class="user__form-field nes-field">
    <%= f.text_field :email, class: 'user__form-input nes-input', placeholder: t('user.email') %>
  </div>

  <div class="user__form-field nes-field">
    <%= f.password_field :password, class: 'user__form-input nes-input', placeholder: t('user.password') %>
  </div>

  <div class="user__form-field nes-field">
    <span><%= t('remember_me') %></span>
    <%= label_tag do %>
      <input class="nes-radio" type="radio" name="remember" value="on" checked>
      <span><%= t('yes') %></span>
    <% end %>

    <%= label_tag do %>
      <input class="nes-radio" type="radio" name="remember" value="">
      <span><%= t('no') %></span>
    <% end %>
  </div>

  <div class="user__form-field">
    <%= f.submit t('login'), class: 'nes-btn is-primary' %>
  </div>
<% end %>
