<body class="body--login"></body>

<div class="user__form">
  <!--form -->
  <div class="nes-container is-rounded">
    <h1 class="title"><%= t('login_user') %></h1>
    <%= render 'form' %>
  </div>

  <!-- links -->
  <div class="user__form-links">
    <ul class="nes-list is-circle">
      <li><%= link_to t('signup'), new_user_path %></li>
      <li><%= link_to t('forget_password'), new_password_reset_path %></li>
      <li><%= link_to t('resend_activation_email'), new_user_activation_path %></li>
    </ul>
  </div>
</div>
