<div class="w-full bg-amber-300 px-4 border-b border-orange-500">
  <div class="my-1 flex justify-between items-center">
    <%= site_logo %>

    <div>
      <%= content_tag(:h1, t('my_site')) %>
    </div>

    <div class="relative inline-block">
      <div>
        <button type="button" class="inline-flex justify-center w-full px-4 py-2 text-gray-500" data-action="click->application#headerUserToggle" data-application-target="userBtn">
          <%= logged_in? ? fa_icon('user') : fa_icon('sitemap') %>
          <%= render 'modules/bottom_allow' %>
        </button>
      </div>
      <div class="hidden arrow-top z-10 absolute right-0 mt-2 w-48 rounded shadow bg-gray-100 border border-gray-800" data-application-target="userList" tabindex="-1">
        <div class="py-2 text-sm">
        <%= header_link_to(t('.user_list'),          users_path()) %>
        <%= header_link_to(t('.micropost_list'),     microposts_path()) %>
        <% if logged_in? %>
          <%= header_link_to(t('.your_page'),        user_path(current_user)) %>
          <%= header_link_to(t('.create_micropost'), new_micropost_path()) %>
          <%= header_link_to(t('.settings'),         edit_user_path()) %>
          <%= header_link_to(t('.log_out'),          session_path(), data: { turbo_method: :delete }) %>
        <% else %>
          <%= header_link_to(t('.confirms'),         new_account_activation_path()) %>
          <%= header_link_to(t('.forget_password'),  new_password_reset_path()) %>
          <%= header_link_to(t('.sign_up'),          new_user_path()) %>
          <%= header_link_to(t('.log_in'),           new_session_path()) %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
