<nav class="site__header navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <%= link_to 'Mizusirazu', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggler">
      <ul class="site__header__list navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
      </ul>
      <% if user_signed_in? %>
        <div class="site__header__dropdown navbar-nav dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">User</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown05">
            <li><a class="dropdown-item" href="#"></a></li>
            <%= link_to current_user.name, '#', class: "dropdown-item" %>
            <%= link_to 'Settings', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', method: :delete %>
          </ul>
        </div>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
      <form>
        <input class="form-control" type="text" placeholder="検索" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
