<div class="relative bg-violet-100 text-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center border-b-2 border-gray-100 md:space-x-10">
      <%= site_logo %>

      <div class="relative inline-block text-left">
        <div>
          <button type="button" class="inline-flex justify-center w-full px-4 py-2 text-gray-700" aria-expanded="false" data-action="click->application#headerUserToggle" data-application-target="userBtn">
            <span><%= logged_in? ? 'User' : 'Welcome' %></span>
            <!-- ↓ bottom allow -->
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="hidden">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
            </svg>
          </button>
        </div>

        <div class="hidden arrow-top origin-top-right absolute right-0 mt-2 w-48 rounded shadow bg-gray-100 ring-1 ring-black ring-opacity-5" data-application-target="userList" tabindex="-1">
          <div class="py-1" role="none">
          <%= header_link_to('User list', users_path) %>
            <% if logged_in? %>
              <%= header_link_to(current_user.name, user_path(current_user)) %>
              <%= header_link_to('Settings', edit_user_path(current_user)) %>
              <%= header_link_to('Profiles', user_profiles_path(current_user)) %>
              <%= header_link_to('Log out', session_path, data: { turbo_method: :delete }) %>
            <% else %>
              <%= header_link_to('Sign up', new_user_path) %>
              <%= header_link_to('Log in', new_session_path) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
