<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>MizusirazuNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.ico' %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

    <!-- Tailwindcss -->
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <!-- NES.css -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="flex items-center justify-between flex-wrap px-4">
      <!-- My Homepage logo -->
        <%= link_to root_path class: 'mr-6', title: "MizusirazuNet" do %>
          <%= image_tag '/images/logo.svg', size: '64x64' %>
        <% end %>

      <!-- toggle btn -->
      <div class="block sm:hidden">
        <button id="header-togglebtn" class="nes-btn is-warning">*</button>
      </div>

      <!-- Links -->
      <div id="header-links" class="w-full hidden sm:block sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow is-primary">
          <% if user_signed_in? %>
            <%= header_link_to t('my_page'), user_profile_path(current_user) %>
            <%= header_link_to t('edit'), settings_path %>
            <%= header_link_to t('micropost_list'), microposts_path %>
            <%= header_link_to t('logout'), destroy_user_session_path, method: :delete %>
          <% else %>
            <%= header_link_to t('signup'), signup_path %>
            <%= header_link_to t('login'), new_user_session_path %>
            <%= header_link_to t('look_microposts'), microposts_path %>
          <% end %>
        </div>
      </div>
    </header>

    <% flash.each do |name, msg| %>
      <%= next if name == 'timedout' %>
      <div class="flash">
        <%= content_tag 'div', id: name do %>
          <span><%= msg %></span>
        <% end %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer class="pt-4 px-2 text-sm">
      <div class="nes-container is-rounded is-dark">
        <div class="block justify-center sm:flex">
          <!-- My site Links -->
          <div class="pt-4 sm:mr-4">
            <div class="nes-container is-dark with-title">
              <p class="title"><%= t('technology') %></p>
              <ul class="nes-list is-circle is-dark">
                <li class="py-1"><%= link_to t('source_code'), 'https://github.com/shinzanmono/mizusirazu.net' %></li>
                <li class="py-1"><%= link_to t('contact'), 'mailto:shinzanmono@example.com' %></li>
                <li class="py-1"><%= link_to 'NES.css', 'https://nostalgic-css.github.io/NES.css/' %></li>
                <li class="py-1"><%= link_to 'Nu きなこもち', 'http://kokagem.sakura.ne.jp/font/mochi/' %></li>
                <li class="py-1"><%= link_to '美咲フォント', 'https://littlelimit.net/misaki.htm' %></li>
                <li class="py-1"><%= link_to 'PixcelGaro (icon)', 'https://hpgpixer.jp/' %></li>
                <li class="py-1"><%= link_to 'Wallhaven (background)', 'https://wallhaven.cc/' %></li>
              </ul>
            </div>
          </div>

          <!-- My site About -->
          <div class="pt-4">
            <div class="nes-container is-dark with-title">
              <h1 class="title"><%= t('about') %></h1>
              <p>Mizurazu.netはいいサイトです。</p>
              <p>なぜなら、いいサイトはいいサイトだからです。</p>
              <p>ということは、このサイトもいいサイトということになるでしょう。</p>
            </div>
          </div>
        </div>

        <!-- language selector -->
        <div class="text-center pt-4">
          <div class="nes-container is-dark with-title is-centered">
            <h1 class="title"><%= t('select_language') %></h2>
            <div class="flex justify-center">
              <% I18n.available_locales.each do |language| %>
                <%= link_to t(language), url_for(locale: language), class: 'mr-4' %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- copyright -->
        <div class="text-center pt-4">
          <i class="nes-kirby"></i>
          <p>copyright (c) shinzanmono. All right received</p>
        </div>
    </footer> 

    <%= debug(params) if Rails.env.development? %> 

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
