<body class="body--registration"></body>

<h1 class="text-lg font-bold"><%= t('edit_user') %></h1>
<%= form_with(scope: resource_name, url: user_registration_path, class: 'form-elem-mt-4', method: :put) do |f| %>
  <%= render 'shared/error_messages', object: resource %>

  <%= render 'form', f: f %>
<% end %>

<h2 class="text-base font-bold py-4 border-t border-solid mt-4"><%= t('delete_user') %></h2>
<%= link_to t('delete'),
  user_registration_path,
  class: 'nes-btn is-error',
  method: :delete,
  data: { confirm: t('are_you_sure') }
%>
