<body class="user"></body>
<main class="user__page container-fluid row">
  <div class="col-lg-4">
    <div class="user__page__avatar rounded">
      <div class="user__page__avatar--img">
        <%= link_to edit_user_registration_path do %>
          <%= gravatar_for current_user %>
        <% end %>
      </div>
      <div class="user__page__avatar--name">
        <h2><%= current_user.name %></h2>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="user__page__content rounded">
      <div class="user__page__content--data">
        <ul>
          <li>Email: <%= current_user.email %></li>
          <li>Sign in count: <%= current_user.sign_in_count %></li>
        </ul>
      </div>
    </div>
  </div>
</main>

