<body class="body--registration"></body>

<div class="w-full p-4">
  <section class="nes-container member-card">
    <div class="mr-8">
      <i class="nes-bcrikko"></i>
    </div>
    <ul class="nes-list is-circle">
      <li class="py-1 whitespace-nowrap">Email <%= @user.email %></li>
      <li class="py-1 whitespace-nowrap">Created at <%= l(@user.created_at) %></li>
      <li class="py-1 whitespace-nowrap">Updated at <%= l(@user.updated_at) %></li>
    </ul>
  </section>

  <div class="ml-4 pt-4">
    <ul class="nes-list is-circle">
      <li><%= link_to t('look_microposts'), user_microposts_path(@user) %></li> 
      <% if current_user&.id == params[:id].to_i %>
        <li><%= link_to t('micropost_write'), new_micropost_path %></li>
      <% end %>
    </ul>
  </div>
</div>
